<h1>Listing boardgames</h1>
 
<table class='table'>
  <tr>
    <th>Box</th>
    <th>Title</th>
    <th>Description</th>
    <th>Score</th>
    <th>Amazon Price</th>
    <th>Lowest Historical Price</th>
    <th colspan='3'></th>
  </tr>
 
  <% @boardgames.each do |boardgame| %>
    <tr>
      <td><%= image_tag(boardgame.amazon_image_url) %></td>
      <td><%= boardgame.title %></td>
      <td><%= boardgame.description ? boardgame.description[0..140] + '...' : '' %></td>
      <th><%= boardgame.review_score %></th>
      <th><%= boardgame.current_price %></th>
      <th><%= boardgame.lowest_price_formatted %></th>
      <td><%= link_to 'Show', boardgame_path(boardgame) %></td>
      <td><%= link_to 'Edit', edit_boardgame_path(boardgame) %></td>
      <td><td><%= link_to 'Delete', boardgame_path(boardgame),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td></td>
    </tr>
  <% end %>
</table>

<footer>
<ul>
  <li><%= link_to 'New boardgame', new_boardgame_path %></li>
  <li><%= link_to 'Home', root_path %></li>
</ul>
</footer>