<div class="row">
  <div class="col-md-8">
    <%= form_for([@boardgame, @boardgame.reviews.build]) do |f| %>
      <div class="form-group">
        <%= f.label :reviewer %><br>
        <%= f.text_field :reviewer, :class => 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :body %><br>
        <%= f.text_area :body, :class => 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :score %>
        <%= f.text_field :score, :class => 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.submit :class => 'form-control' %>
      </div>
    <% end %>
  </div>
</div>